.user-prefs-container {
    overflow: auto;
}

.settings-container {
    width: 46%;
    margin: 20px 50px 50px 37px;
    padding-bottom: 50px;
    h3 {
        text-decoration: underline;
    }
    .cover-art {
        width: 100px;
        height: 100px;
        color: #ccc;
        @include border-radius(3px);
        border: 1px solid #ccc;
        cursor: pointer;
        background-color: #FFF;
        &-wrapper {
            float: left;
            width: 30%;
        }
    }
    .cover-art p {
        padding-top: 34%;
        padding-left: 1%;
        text-align: center;
    }
}

.settings-items {
    width: 700px;
    position: relative;
}

.settings-message {
    padding: 0;
    background: transparent;
    &-controls {
        margin-bottom: 20px;
    }
    h5 {
        margin-top: 20px;
    }
}

.settings {
    &-content {
        margin-top: 40px;
        height: 165px;
    }
    &-options {
        @extend .cover-art-wrapper;
    }
    &-expiration {
        @extend .cover-art-wrapper;
    }
    &-btn {
        right: 0;
        height: 100px;
        position: absolute;
        top: 9px;
    }
}

#default-body {
    width: 100%;
}
