#details {
    overflow: auto;
    height: 100%;
    &-left-col {
        @extend %left-col-border;
        position: absolute;
        overflow: auto;
    }
    h5 {
        margin-top: 16px;
        color: #444;
        &.detail-status {
            margin-top: 36px;
        }
    }
}

.pkg-details {
    margin-bottom: 50px;
    margin-top: 20px;
    ul {
        overflow: auto;
        font-size: 13px;
        line-height: 1.7em;
        color: #5784A0;
        margin-bottom: 20px;
        li {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.detail-main-col {
    @extend %cols;
    // border-left: 20px solid #ccc;
    overflow: hidden;
    position: absolute;
    left: 300px;
    float: none;
    .detail-main-col-inner {
        width: 87%;
        h5 {
            margin-left: 17px;
        }
    }
}

.details-proj {
    @extend .pkg-details;
    &-chkbox {
        float: right;
        margin-top: 5px;
    }
}

.details-assets {
    @extend .pkg-details;
    li {
        @extend %scdn-lists;
        padding: 0;
        width: 95%;
    }
}

.activity-view {
    margin-top: 26px;
    margin-left: 16px;
    min-width: 500px;
    .back-link {
        text-decoration: underline;
        margin-left: 10px;
    }
}

.activity-table {
    margin-top: 44px;
}

.table.msg-table > tbody > tr > td.activity-data {
    padding-left: 10px;
}

.detail-filter {
    @extend .details-proj;
    &-chkbox {
        float: right;
        margin-top: 4px;
    }
}

.enabled {
    background: url('../images/enabled.jpg') no-repeat 157px 5px;
}

.disabled {
    background: url('../images/disabled.jpg') no-repeat 157px 5px;
}

.table.dtl-table {
    margin-top: 7px;
    & > tbody > tr > td {
        width: 47%;
    }
}
