.recipients-wrapper {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
}

#add-distr {
    position: absolute;
    top: 44px;
    right: 24px;
    &-icon {
        display: inline-block;
        padding-left: 8px;
        float: right;
        position: relative;
        // top: 47px;
        // right: 24px;
    }
}

#distribution {
    width: 95%;
    float: left;
    margin-top: -17px;
    .remove-btn {
        margin-right: 15px;
    }
}

#distribution-lists {
    padding: 10px 2px;
    background: #fff;
    float: left;
    width: 100%;
    max-height: 300px;
    overflow: auto;
    border: $light-gray;
    border-top: none;
    border-bottom: none;
    li {
        width: 100%;
        background-color: #fff;
        &:hover {
            background-color: #E2E2E2;
            text-overflow: initial;
        }
    }
}

.recipient-items {
    @extend %scdn-lists;
    float: left;
    width: 86%;
}

#to-recipient {
    float: left;
    margin-top: 39px;
    padding: 5px 38px 5px 5px;
    border-radius: 4px 4px 0 0;
    font-size: 12px;
}

#auto-suggest-emails {
    background: #fff;
    width: 95%;
    position: absolute;
    top: 71px;
    // margin-top: -18px;
    left: 0;
    z-index: 999;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    ul {
        padding: 7px;
    }
}

.active-email {
    background-color: #E2E2E2;
    text-overflow: initial;
}

.recp-form {
    // margin-top: 151px;
}

#clear-recp {
    float: left;
    background-color: #FFF;
    width: 95%;
    margin-top: -10px;
    border: 1px solid #ccc;
    border-top: none;
    a {
        float: right;
        margin-right: 19px;
    }
}
