.footer {
    padding-top: 18px;
    color: #777;
    height: 50px;
    border-top: 2px solid #ccc;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    &-inner {
        margin-left: 30px;
    }
}
